<h1 class="admin-info_main-title">Admin Information</h1>
<div class="admin-info_container">
  <div class="admin-info_wrapper">
    <h1 class="admin-title">Products</h1>
    <p class="admin-detail">Total Products: <%= @product_count %></p>
  </div>
  <div class="admin-info_wrapper">
    <h1 class="admin-title">Categories</h1>
    <p class="admin-detail">Total Categories: <%= @category_count %></p>
  </div>
</div>
