/*
*= require_tree .
*= require_self
*/

// Vendor
// @import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Fonts
// Global
body {
  // padding-top: 70px;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}
// Bootstrap adjustments
form.button_to {
  display: inline;
}

.hero {
  height: 75vh;
  background-image: url("/images/hero_header.jpg");
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
  background-size: cover;
  background-position-x: center;
  background-position-y: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &.small {
    height: 20vh;

    nav {
      display: none;
    }
    .title {
      display: none;
    }
  }
}

.hero nav {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.hero .title {
  margin: auto 0;
  font-family: "Montserrat";
  color: white;
  text-transform: uppercase;
  width: max-content;

  h1,
  h2,
  h3 {
    text-align: center;
    margin: 0;
    font-weight: 700;
  }
  h1 {
    line-height: 0.7;
    font-weight: 900;
    font-size: 6.5em;
    font-style: italic;
  }
  h2 {
    margin-top: 0.7em;
    font-size: 2.2em;
  }
  h3 {
    font-style: italic;
    text-align: right;
    font-size: 1.4em;
  }
}

.sticky-nav {
  background: green;
  position: sticky;
  top: 0;
  z-index: 900;
  font-weight: 700;

  .navbar-brand {
    font-weight: 900;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-style: italic;
  }
}

.page-header {
  margin: 3em 0;
}
.text-danger {
  color: #f38792 !important;
}

.line-item_wrapper{
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
}

.item_container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr .25fr;
}

.item_title {
  font-size: 1rem;
  margin: 0;
}

.item_detail {
  font-size: .8rem;
  margin: 0;
}

.item_image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.item_description {
  padding-right: 1rem;
}

.item_transaction {
  width: 100%;
  text-align: end;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.item_total {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.transaction_summary{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

// admin related styling
.admin-info_main-title{
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.admin-info_container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.admin-info_wrapper{
  // background-color: orange;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 10px;
}

.admin-title{
  font-size: 1.5rem;
}

.admin-detail{
  font-size: 1rem;
  margin: 0;
}
